{% load static %}
<nav class="navbar navbar-expand-lg navbar-black bg-green">
  <img src="{% static 'images/logo.jpg' %}">
  <style>
    img {
  width: 3%;
  height: 3%;border: 2px solid blue;
      margin: 5px;
      margin-right: 8px;
}
  </style>
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'products'%}">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href>socket</a>
      </li>
    </ul>
  </div>
</nav>
